.register-form{
    height: 866px;
    width: 420px;
}
.register-form .header{
    height: 128px;
    background-color: #1976D2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.register-form .header span{
    color: #ffffff;
}
.register-form .content{
    height: 738px;
    background-color: #424242;
}
.register-form .content input{
    height: 55px;
    background-color: #4A4A4A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
}
.register-form .content textarea{
    background-color: #4A4A4A;
    max-height: 115px;
}
.register-form .content textarea::placeholder{
    color: rgba(255, 255, 255, .6);
    font-family: 'Roboto';
}
.register-form .content input::placeholder{
    color: rgba(255, 255, 255, .6);
    font-family: 'Roboto';
}
.register-form .submit .p-button{
    font-family: 'Roboto';
    background-color: #1976D2;
    height: 56px;
    border-radius: 0%;
    width: 100%;
}
.register-form .submit .p-button span{
    color: #ffffff;
}
.register-form .submit .p-button:hover{
    cursor: pointer;
    background-color: #418EDA;
}
.register-form span{
    color: #AFAFAF;
}
.register-form a{
    color: #ffffff;
}
.register-form .photo .p-button{
    font-family: 'Roboto';
    height: 56px;
    border-radius: 0%;
    width: 60%;
    background-color: #4A4A4A;
    border: 1px solid #1976D2;
}
.register-form .photo .p-button span{
    color: #ffffff;
}
.register-form .photo .p-button:hover{
    cursor: pointer;
    background-color: #418EDA;
}