<div class="flex justify-content-center w-full pt-4">
    <div class="sm:w-10 md:w-27rem lg:w-27rem xl:w-27rem">
        <div class="flex w-full content surface-100 justify-content-center">
            <form [formGroup]="addServiceForm" class="flex pt-4 flex-column w-full px-4">
            <div class="field flex justify-content-center">
                <input type="text" placeholder="Title*" name="title" formControlName="title"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
            </div>
            <div class="field flex justify-content-center">
                <input type="text" placeholder="Description*" name="description" formControlName="description"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
            </div>
            <div class="field flex justify-content-center">
                <input type="text" placeholder="Specificity*" name="specificity" formControlName="specificity"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
            </div>
            <div class="field flex justify-content-center">
                <div class="grid">
                    <div class="col-6">
                        <input type="number" placeholder="Price*" name="price" formControlName="price"
                        class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
                    </div>
                    <div class="col-6">
                        <input type="number" placeholder="Discount*" name="discount" formControlName="discount"
                        class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
                    </div>
                </div>
            </div>
            <div class="field flex justify-content-center">
                <div class="grid">
                    <div class="col-6">
                        <p-dropdown [options]="allCategories"
                            placeholder="Category*" optionLabel="title" [editable]="true" name="category"
                            (onChange)="onCategoryChange($event)"/>
                    </div>
                    <div class="col-6">
                        <p-multiSelect [options]="allEventTypes"
                            placeholder="event types*" optionLabel="title" name="eventTypes"
                            (onChange)="onEventTypesChange($event)" filter="false"/>
                    </div>
                </div>   
            </div>
            <div class="field flex justify-content-center">
                <div class="grid">
                    <div class="col-4">
                        <input type="number" placeholder="min Duration" name="minDuration" formControlName="minDuration"
                        class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
                    </div>
                    <div class="col-4">
                        <input type="number" placeholder="max Duration" name="maxDuration" formControlName="maxDuration"
                        class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
                    </div>
                    <div class="col-4">
                        <input type="number" placeholder="Duration" name="duration" formControlName="minDuration"
                        class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
                    </div>
                </div>
            </div>
            <div class="field flex justify-content-center">
                <div class="grid">
                    <div class="col-6">
                        <input type="number" placeholder="Reservation Deadline*" name="reservationDeadline" 
                        formControlName="reservationDeadline"
                        class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
                    </div>
                    <div class="col-6">
                        <input type="number" placeholder="CancellationDeadline*" name="cancellationDeadline"
                        formControlName="cancellationDeadline"
                        class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
                    </div>
                </div>
            </div>
            <div class="field flex justify-content-center">
                <div class="grid">
                    <div class="col-5">
                        <label>Choose reservation type</label>
                    </div>
                    <div class="col-7">
                        <div class="flex flex-wrap gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton 
                                    name="automaticReservation" 
                                    value="true"
                                    formControlName="automaticReservation"
                                    inputId="ingredient1" />
                                <label for="ingredient1" class="ml-2">
                                    Automatic
                                </label>
                            </div>
                            
                            <div class="flex align-items-center">
                                <p-radioButton 
                                    name="automaticReservation" 
                                    formControlName="automaticReservation"
                                    value="false"
                                    inputId="ingredient2" />
                                <label for="ingredient2" class="ml-2">
                                    Manual
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field flex justify-content-center">
                <p-button
                (click)="uploader1.click()"
                styleClass="w-full border-noround border-1 border-primary"
                label="ADD SERVICE PHOTOS"
              ></p-button>
              <input hidden type="file" multiple accept="image/*" #uploader1 (change)="uploadFile($event)" />
            </div>
            <p-button class="field flex justify-content-center" (onClick)="submit()">Submit</p-button>
        </form>
        </div>
    </div>
</div>