<div class="flex justify-content-end align-items-center">
    <!-- events -->
    <div class="mr-4">
        <span class="text-color mr-2">Sort events by</span>
        <p-dropdown [options]="eventSortOptions" [(ngModel)]="selectedEventSortOption" styleClass="w-15rem" />
    </div>
    <!-- merchandise -->
    <div class="mr-4">
        <span class="text-color mr-2">Sort services/products by</span>
        <p-dropdown [options]="merchandiseSortOptions" [(ngModel)]="selectedMerchandiseSortOption"
            styleClass="w-15rem" />
    </div>
    <!-- filters -->
    
        <p-sidebar [(visible)]="filtersVisible" position="right" styleClass="w-3">
            <app-filter></app-filter>
        </p-sidebar>
        <!-- <span class="text-color mr-2">Filters</span> -->
        <p-button type="button" (onClick)="filtersVisible = true" icon="pi pi-arrow-left" label="Filters" iconPos="right"/>
    
</div>