<p-panel [toggleable]="true">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 p-text-secondary">
            <p>
                {{ merchandise.category }}/{{merchandise.type}}
            </p>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="grid col-12">

            <div class="col-12 xl:col-3">
                <div class="flex flex-column gap-3">
                    <img src="{{merchandise.photo}}" alt="">
                    <p class="text-xl font-semibold">{{ merchandise.title }}</p>
                    <div>
                        <i class="pi pi-map-marker mr-1"></i>
                        <span>{{ merchandise.address?.street}} {{ merchandise.address?.number }}, {{
                            merchandise.address?.city }}</span>
                    </div>
                    <div>   
                        <div class="flex align-items-center justify-content-start">
                            <span>{{merchandise.rating}}</span>
                            <p-rating [(ngModel)]="merchandise.rating" [readonly]="true" [cancel]="false" />
                        </div>
                    </div>
                    <span>{{merchandise.price}}</span>


                </div>
            </div>


            <div class="col-12 xl:col-9">
                <div class="p-2">
                    <p class="m-0 line-height-3">{{ merchandise.description }}</p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <p-button label="See details" styleClass="p-button-secondary text-color" (onClick)="seeDetails()"></p-button>
        </div>
    </ng-template>

</p-panel>