.login-form{
    height: 466px;
    width: 380px;
}
.header{
    height: 128px;
    background-color: #1976D2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.header span{
    color: #ffffff;
}
.content{
    height: 338px;
    background-color: #424242;
}
input{
    height: 55px;
    background-color: #4A4A4A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
}
input::placeholder{
    color: rgba(255, 255, 255, .6);
    font-family: 'Roboto';
}
.p-button{
    font-family: 'Roboto';
    background-color: #1976D2;
    height: 56px;
    border-radius: 0%;
    width: 100%;
}
.p-button span{
    color: #ffffff;
}
.p-button:hover{
    cursor: pointer;
    background-color: #418EDA;
}
span{
    color: #AFAFAF;
}
a{
    color: #ffffff;
}