<div class="flex justify-content-center w-full pt-4">
  <div class="login-form w-23rem h-15rem">
    <div
      class="header bg-primary flex justify-content-center align-items-center h-8rem border-round-top-md"
    >
      <span>
        <i class="pi pi-user text-color" style="font-size: 5rem"></i>
      </span>
    </div>
    <div class="flex w-full content justify-content-center surface-100">
      <form [formGroup]="loginForm" class="flex pt-4 flex-column w-full px-4">
        <div class="field flex justify-content-center">
          <input
            formControlName="email"
            type="text"
            placeholder="E-Mail*"
            class="text-base p-2 w-full border-round-top-xs border-none border-bottom-1 h-3rem surface-50"
          />
        </div>
        <div class="field flex justify-content-center pb-5">
          <input
            formControlName="password"
            type="text"
            placeholder="Password*"
            class="text-base p-2 w-full border-round-top-xs border-none border-bottom-1 h-3rem surface-50"
          />
        </div>
        <div class="field justify-content-center min-w-full">
          <p-button
            styleClass="min-w-full h-3rem border-noround text-color"
            label="SIGN IN"
            type="submit"
            (click)="login()"
          ></p-button>
        </div>
        <div class="field justify-content-center min-w-full">
          <p-button
            styleClass="min-w-full h-3rem border-noround text-color"
            label="SKIP SIGN IN"
            type="submit"
            (click)="login()"
          ></p-button>
        </div>
        <div
          class="field flex justify-content-center align-items-center pt-1 flex-column w-full"
        >
          <span>Don't have an account?</span>
          <a href="register-od" class="pt-1 text-color">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
