<p-panel [toggleable]="true" styleClass="mb-4">
    <ng-template pTemplate="header">
        <div class="grid align-items-center m-0 col-6">
            <div class="xl:col-3 flex col-12">
                <span class="text-xl font-semibold text-center">
                    {{panelTitle}}
                </span>
            </div>
        </div>
    </ng-template>
    <p-divider styleClass="m-0"/>
    <div *ngFor="let event of displayedEvents">
        <app-event-card [event]="event"></app-event-card>
        <p-divider styleClass="m-0"/>
    </div>

    <div class="card flex justify-content-center">
        <p-paginator
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[3, 10, 20, 30]"
            (onPageChange)="onPageChange($any($event))"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} events"
        ></p-paginator>
    </div>
</p-panel>
