<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2 p-text-secondary">
      <p>
        {{ event.type }}
      </p>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid col-12">
      <div class="col-12 xl:col-3">
        <div class="flex flex-column gap-3">
          <p class="text-xl font-semibold">{{ event.title }}</p>

          <div>
            <i class="pi pi-calendar mr-1"></i>
            <span>{{ event.date | date : "dd.M.yyyy." }}</span>
          </div>

          <div>
            <i class="pi pi-map-marker mr-1"></i>
            <span
              >{{ event.address.street }} {{ event.address.number }},
              {{ event.address.city }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 xl:col-9">
        <div class="p-2">
          <p class="m-0 line-height-3">{{ event.description }}</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-start">
      <p-button
        label="Agenda"
        styleClass="p-button-primary text-color mr-2"
        *ngIf="0 === 0"
        (onClick)="showAgenda(event.id)"
      ></p-button>
      <p-button
        label="Send Invitations"
        styleClass="p-button-primary text-color mr-2 ml-2"
        *ngIf="0 === 0 && !event.public"
        (onClick)="showInvitationsForm()"
      ></p-button>
      <p-button
        class="mr-2"
        icon="pi pi-pencil"
        *ngIf="0 === 0"
        (onClick)="showEditEventForm(event.id)"
      ></p-button>
    </div>
    <div class="flex justify-content-end">
      <p-button
        label="See details"
        styleClass="p-button-secondary text-color"
      ></p-button>
    </div>
  </ng-template>
</p-panel>
<p-dialog
  header="Invite Participants"
  [(visible)]="displayInviteForm"
  [modal]="true"
  styleClass="w-6 h-22rem"
>
  <app-send-invitation></app-send-invitation>
</p-dialog>