<p-dialog header="Reserve" [modal]="true" [(visible)]="visible" [contentStyle]="{ overflow: 'visible' }">
    <p-toast position="top-right"></p-toast>

    <h1 class="text-xl mb-3">Taken timeslots:</h1>
    <p-listbox [options]="timeslots">
        <ng-template let-timeslots pTemplate="item">
            <div class="flex align-items-center">
                <div>{{timeslots.startTime | date : "dd.M.yyyy. HH:mm"}} - {{ timeslots.endTime | date : "dd.M.yyyy. HH:mm"}}</div>
            </div>
        </ng-template>
    </p-listbox>
    <h2 class="text-xl mb-3">Reserve Service</h2>
    <form [formGroup]="reservationForm">



        <p-listbox [options]="events" formControlName="selectedEvent">
            <ng-template let-events pTemplate="item">
                <div class="flex align-items-center">
                    <div>{{events.title}} {{ events.date | date : "dd.M.yyyy. HH:mm"}}</div>
                </div>
            </ng-template>
        </p-listbox>
        <br>

        <div class="field mb-3">
            <span class="p-float-label">
                <p-calendar formControlName="startTime" [showTime]="true" dateFormat="yy-mm-dd" styleClass="w-full"
                    inputId="startTime">
                </p-calendar>
                <label for="startTime">Start Time</label>
            </span>
        </div>

        <div class="field mb-3">
            <span class="p-float-label">
                <p-calendar formControlName="endTime" [showTime]="true" dateFormat="yy-mm-dd" styleClass="w-full"
                    inputId="endTime">
                </p-calendar>
                <label for="endTime">End Time (Optional)</label>
            </span>
        </div>

        <div class="flex gap-2 mt-4 justify-content-center">
            <p-button label="Reserve" (onClick)="submitReservation()">
            </p-button>
        </div>
    </form>
</p-dialog>