.side-menu{
    width: 250px;
    height: 100vw;
    background-color: #212121;
    font-family: 'Roboto';
}
.side-menu .content{ 
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.side-menu .content .header{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.side-menu .content .header span{
    color: #ffffff;
    font-size: 32px;
}
.side-menu .content .header img{
    width: 50px;
    height: 40px;
}
.side-menu .content .user{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    color: #ffffff;
}
.side-menu .content .user .avatar{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-image: url('assets/dinja.jpg');
    background-size: cover;
}
.side-menu .content .user .name{
    font-size: 24px;
}
.side-menu .content .user .email{
    font-size: 14px;
    opacity: 70%;
}
.side-menu .content .options{
    color: #ffffff;
}
.side-menu .content .options .divider{
    color: #ffffffb3;
    margin-top: 8px;
    margin-bottom: 6px;
    padding-left: 20px;
    font-size: 12px;
}
.side-menu .content .options .option a{
    text-decoration: none;
    color: #ffffff;
    height: 45px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    align-items: center;
    justify-content: left;
    column-gap: 25px;
    padding-left: 20px;
    display: flex;
}
.side-menu .content .options .option a:hover{
    background-color: rgba(255,255,255,.04);
}
