<div class="side-menu fixed">
  <div class="content w-full">
    <div class="header">
      <img src="/calendar.png" alt="">
      <span>E Planner</span>
    </div>
    <div class="user">
      <div class="avatar"></div>
      <span class="name">Goci Ristic</span>
      <span class="email">goci.ristic&#64;gmail.com</span>
    </div>
    <div class="flex flex-column options">
      <div class="flex align-items-center divider">
        <span>OPTIONS</span>
      </div>
      <div class="flex align-items-center justify-content-center option">
        <a href="#" class="w-full">
          <span class="icon">
            <i class="pi pi-objects-column" style="font-size: 1rem"></i>
          </span>
          <span class="option-text">Dashboard</span>
        </a>
      </div>
      <div class="flex align-items-center justify-content-center option">
        <a href="#" class="w-full">
          <span class="icon">
            <i class="pi pi-objects-column" style="font-size: 1rem"></i>
          </span>
          <span class="option-text">Table</span>
        </a>
      </div>
      <div class="flex align-items-center divider">
        <span>NIKOLICI</span>
      </div>
      <div class="flex align-items-center justify-content-center option">
        <a href="#" class="w-full">
          <span class="icon">
            <i class="pi pi-objects-column" style="font-size: 1rem"></i>
          </span>
          <span class="option-text">Calendar</span>
        </a>
      </div>
      <div class="flex align-items-center justify-content-center option">
        <a href="#" class="w-full">
          <span class="icon">
            <i class="pi pi-objects-column" style="font-size: 1rem"></i>
          </span>
          <span class="option-text">Filmovi</span>
        </a>
      </div>
    </div>
  </div>
</div>