
input::placeholder{
    color: rgba(255, 255, 255, .6);
    font-family: 'Roboto';
}
.p-button:hover{
    cursor: pointer;
    background-color: #418EDA;
}
a{
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
}
