<p-panel>
    <ng-template pTemplate="header">
        <div class="grid align-items-center m-0 col-12">
            <div class="xl:col-3 flex col-12">
                <span class="text-xl font-semibold text-center">
                    Top Events
                </span>
            </div>
            <div class="xl:col-4 flex col-12">
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="Search"/>
                </p-iconField>
            </div>
            <div class="xl:col-2 flex col-12">
                <p-button
                    type="button"
                    styleClass="p-button-secondary"
                    (onClick)="filterSidebarVisible = true"
                    label="Filters"
                    iconPos="right"
                    icon="pi pi-arrow-left"
                />
            </div>
        </div>
    </ng-template>
    <p-divider styleClass="m-0"/>
    <div *ngFor="let merchandise of displayedMerchandise">
        <app-merchandise-card [merchandise]="merchandise"></app-merchandise-card>
        <p-divider styleClass="m-0"/>
    </div>

    <div class="card flex justify-content-center">
        <p-paginator
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[3, 10, 20, 30]"
            (onPageChange)="onPageChange($any($event))"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} events"
        ></p-paginator>
    </div>
</p-panel>