<p-toast position="top-right" [baseZIndex]="20000" [autoZIndex]="true"></p-toast>
<div class="flex justify-content-center pt-4">
    <div class="sm:w-10 md:w-15rem lg:w-15rem xl:w-18rem">
        <div class="surface-100 justify-content-center  pt-5 pb-1">
            <div class="field flex justify-content-center mb-8">
                <p-dropdown [options]="events" 
                optionLabel="title" name="event" 
                (onChange)="onEventChange($event)" 
                placeholder="Choose event"/>
            </div>
            <div class="field flex justify-content-center mt-8">
                <p-button (onClick)="onSubmit()">Buy product</p-button>
            </div>
        </div>
    </div>
</div>