<div class="flex justify-content-center w-full pt-4">
    <div class="sm:w-10 md:w-27rem lg:w-27rem xl:w-27rem">
        <div class="flex w-full content surface-100 justify-content-center">
            <form [formGroup]="addCategoryForm" class="flex pt-4 flex-column w-full px-4">
            <div class="field flex justify-content-center">
                <input type="text" placeholder="Title*" name="title"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
            </div>
            <div class="field flex justify-content-center">
                <input type="text" placeholder="Description*" name="description"
                class="text-base p-2 w-full border-round-top-sm border-none border-bottom-1 h-3rem surface-50">
            </div>
            <p-button class="field flex justify-content-center">Submit</p-button>
        </form>
        </div>
    </div>
</div>
